@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root, :root.dark {
    /* CSS HSL */
--main-bg: hsla(230, 8%, 15%, 1);
--bg-darker: hsla(230, 8%, 10%, 1);
--main-text: hsla(9, 4%, 85%, 1);
--main-text-darker: hsla(9, 4%, 60%, 1);
--highlight: hsla(200, 100%, 45%, 1);
--stringlit: rgb(255, 147, 31);
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: var(--bg-darker);
    color: var(--main-text);
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
}

a {
    color: var(--highlight);
}


input, textarea {
    width: 97%;
    background-color: var(--bg-darker);
    color: var(--main-text);
    border: 1px solid var(--main-text-darker);
    margin: 5px;
    padding: 10px;
}


.projectgrid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
 /*   grid-auto-flow: row;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 20px 20px; */ 

}

.project {
    background-color: var(--bg-darker);
    border-radius: 10px;
padding: 15px;
margin: 0;
margin-bottom: 30px;
width: 455px;
}

.section {
    margin-top: 50px;
}
#contact button {
    margin: 5px;
    padding: 10px;
    background-color: var(--bg-darker);
    color: var(--main-text);
    border: 1px solid var(--main-text-darker);
    width: 200px;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 5px;

}

#outerwrap {
    max-width: 1000px;
    padding: 30px;
    margin:auto;
    margin-top: 0;
    background-color: var(--main-bg);
}

#topright {
    position: relative;
    left: 0;
    top: 0;
}
#topright h1 {
    margin: 0;
    
}
#topright h2 {
    margin-top: -10px;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-text-darker);
}

#menu ul {
    margin-top: 5px;
    list-style: none;
  /*  display: flex;
    flex-wrap: wrap; */
    text-align: right;
    

}

#menu li {
    margin-left: 10px;
    float: right;
    clear: right;
    font-size: 18px;
}

#menu a {
    text-decoration: none;
    display:block;
    padding: 5px;
}
#menu a:hover {
    background-color: var(--bg-darker);
}

#topbar {
    position:relative;
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
}

#content {
    margin-top: 0;
}

#typebox, #contactresponse {
    min-height: 350px;
    font-size: 1.5em;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--bg-darker);
    font-family: 'Fira Code', monospace;
}



/*Styles for the Splash screen intro */
#cursorwrap {
    position: relative;
}
#cursor::after {
    position: absolute;
    content: "|";
    right: -5px;
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;    
}
.stringlit {
    color: var(--stringlit);
}
.keyword {
    color: var(--highlight);
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}


